<h1>Login</h1>

<div id="login-screen">
<form id="login-form">
    <label>Username:</label><br>
    <input type="text" id="loginUsername" name="username"><br>
    <label>Password:</label><br>
    <input type="password" id="loginPassword" name="password"><br>
    <button type="button" id="loginButton" onclick="runLogin()">Login</button>
</form>
</div>


<div id="signup-screen">
<h1>First time users sign up!</h1>
<form id="signup-form">
    <label>Username:</label><br>
    <input type="text" id="signupUsername" name="username"><br>
    <label>Password:</label><br>
    <input type="password" id="signupPassword" name="password"><br>
    <button type="button" id="signupButton" onclick="signup()">Sign-Up</button>
</form>
</div>



<script src="js/loginfetch.js"></script>
