<!-- main.hbs-->
<!DOCTYPE html>
<html>
<head>
    <!-- Add icon library -->
    <script src="https://kit.fontawesome.com/fe9b6298ed.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>BeerBank App</title>
    <link rel="stylesheet" href="/css/stylesheet.css">

    
    <script type = "text/javascript" src="js/functions.js"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/Beer">Beer</a> |
        <a href="/Breweries">Breweries</a> |
        <a href="/Customers">Customers</a> |
        <a href="/Styles">Styles</a> |
        <a href="/Orders">Orders</a> |
        <a href="/Beer_Orders">Beer Orders</a>
    </nav>
    {{{body}}}
</body>
</html>