

<h1>Welcome to Beer Bank!</h1>
<div>
    <p>Beer bank (www.beerbank.com) is an online beer retailer 
        that sells over a million bottles of beer 
        to over tens of thousands of customers across the U.S. every year. 
        They offer hundreds of different beers with over twenty different 
        styles of beer represented from ten breweries located across 
        the country. Beer bank is a large distributor of specialty
         and mass produced beers, with an operating income of 
         approximately four million dollars, Beer bank aims to 
         grow that number between six and eight million 
         in the next two years. While Beer bank has previously 
         outsourced their database and sales tracking needs to a third party
          company, their fast expansion has made an in-house database 
          system a cost saving and efficiency increasing priority. 
          To tackle this priority, Beer bank has started the 
          initiative in building their own database due to growing 
          technology pains caused by their special transactional 
          relationships with their breweries and customers. The database
           driven website will track the breweries and styles 
           associated with each beer and record orders of beers 
           from online customers.</p>
</div>
